<!DOCTYPE html>
<html ng-app="app" ng-controller="homeController as scope">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" >
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

  <div class="container">
    <form name="myForm">

      <div class="row">
        <div class="col-md-12"> 
        </div>
      </div>     
      
      <div class="row">
        <div class="col-md-12">
          <input type="hidden" id="id" data-ng-model="note.id">
          <textarea id="texto" class="form-control" placeholder="..." data-ng-model="note.texto" data-ng-required="true"></textarea>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">          
          <button id="btnguardar" class='btn btn-primary btn-block' ng-click="save()" ng-show="databaseSupport" ng-disabled="!myForm.$valid">
            Guardar
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12"> 
          <hr>  
          <div class="alert alert-danger" role="alert" id="errorcontainer" ng-show="!databaseSupport">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Lo sentimos, el navegador no soporta openDatabase.
          </div>
        </div>
      </div>      
      
    </form>
    
    <div>

      <div class='row' data-ng-repeat="note in notes track by $index">
        <div class='col-md-9'>
          {{note.texto}}
          <hr>
        </div>
        <div class='col-md-3' data-ng-show="note.id!=undefined">
          <button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
            <span class='glyphicon glyphicon-option-vertical'></span>
          </button>
          <ul class='dropdown-menu'>
            <li><a href='#' data-ng-click='view(note);'>Editar</a></li>
            <li><a href='#' data-ng-click="delete(note)">Eliminar</a></li>
          </ul>
        </div>
      </div>

    </div>

  </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js" ></script>
  <script type="text/javascript" src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/js/bootstrap-dropdown.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</body>
</html>